public-hoist-pattern[]=*testing-library*
public-hoist-pattern[]=jest-dom
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
public-hoist-pattern[]=vitest
public-hoist-pattern[]=jsdom
public-hoist-pattern[]=lucide-react
public-hoist-pattern[]=clsx
public-hoist-pattern[]=next
public-hoist-pattern[]=zod
public-hoist-pattern[]=libphonenumber-js
public-hoist-pattern[]=@vercel/kv
public-hoist-pattern[]=react-hook-form
public-hoist-pattern[]=@hookform/resolvers
public-hoist-pattern[]=@mediapipe/tasks-vision
public-hoist-pattern[]=framer-motion
public-hoist-pattern[]=gsap
